@model ScoresUI.ViewModels.SoccerScoresViewModel

<title>@Model.PageTitle</title>

<h3 class="promo-title text-center">Soccer Competitions</h3>
<h2 class="promo-description text-center">Access to data of these leagues & cups.</h2>


<div class="card-deck">

    @foreach (var competition in Model.Competitions)
    {
        

    <div class="card m-3" style="min-width: 18rem; max-width: 30.5%">
        <div class="card-header text-center">
            <h3>@competition.name</h3>
            <h2>@competition.area.name</h2>
        </div>
        
        <img class="card-img-top img-thumbnail" src="@competition.emblemUrl" asp-append-version="true" />
        <div class="brand-item-footer helper center">
            <div class="card-footer text-center">
                <a href="#" class="btn-primary m1">Latest Matches</a>
            </div>
        </div>
    </div>


    }
</div>













